@font-face {
    font-family: 'minecraft';
    font-style: normal;
    src: url("minecraft.otf") format("opentype");
    font-weight: 100;
}


body{
    /*background-color: rgba(11,11,11,0.96);*/
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin-left: 30px;
    margin-top: 20px;

}
.preview{
    /*margin-bottom: 10px;*/
    border: rgba(34, 4, 168, 0.96) solid;
    background: black;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    text-align: center;

}

.preview .lore-container {

}

.preview .text {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'minecraft';
    font-weight: 100;
    text-align: center;
}
.preview .lore {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 17px;
    text-align: left;
    margin-bottom: 3px;
}

.preview .lore span{
    font-family: 'minecraft';
    font-weight: 100;
}

.displayName-container{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.displayName-container .display-name span {
    text-align: left;
    font-family: 'minecraft';
    font-weight: 100;
}

.input{
    margin-top: 20px;
}

.colors{
    margin-top: 20px;
    border: rgba(34, 4, 168, 0.96) solid;
    background: rgba(14, 14, 14, 0.63);
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    font-family: minecraft;

}



.colors span{
    margin-left: 10px;
    margin-right: 10px;
}

.colors .text {
    text-align: center;
}

